$grid-columns: 12;
$grid-rows: 12;

.grid-12 {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  grid-gap: 1%;

  @for $i from 1 through $grid-columns {
    & > .col-#{$i} {
      grid-column: span $i;
    }
  }

  @for $i from 1 through $grid-rows {
    & > .row-#{$i} {
      grid-row: span $i;
    }
  }
}
